<footer class="xiwl-footer">
  <div class="xiwl-footer__container">
    <div class="xiwl-footer__links">
      <a [href]="constants.BRAND.EXTERNAL_LINKS.TERMS" class="xiwl-footer__link">{{
        'FOOTER.TERMS' | translate
      }}</a>
      <span class="xiwl-footer__separator">|</span>
      <a [href]="constants.BRAND.EXTERNAL_LINKS.FAQ" class="xiwl-footer__link">{{
        'FOOTER.FAQ' | translate
      }}</a>
      <span class="xiwl-footer__separator">|</span>
      <a [href]="constants.BRAND.EXTERNAL_LINKS.COMPLEMENTARY" class="xiwl-footer__link">{{
        'FOOTER.COMPLEMENTARY' | translate
      }}</a>
    </div>
  </div>
</footer>
